@model CategoryViewModel

<table class="display table">
   
    <thead>
        <tr>
            <th>Mã danh mục</th>
            <th>Tên danh muc </th>
            <th>Thao tác</th>
             
        </tr>
    </thead>
    <tbody>
            @foreach (var cat in Model.Responses)
            {

           
        <tr>
            <th >@cat.Id</th>
            <td>@cat.Name</td>
             
            <td>
                <a class="btn btn-outline-primary" asp-controller="Category" asp-action="Insert">Thêm</a>
                <a class="btn btn-outline-primary" asp-controller="Category" asp-action="Update" asp-route-id="@cat.Id">Sửa</a>
                <a class="btn btn-outline-danger" asp-controller="Category" asp-action="Delete" asp-route-id="@cat.Id">Xóa</a>
            </td>
            </tr>
        }
    </tbody>
</table>
    
  


